*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
classes
target
out
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
.bak
*.class
*.log
*.iml
local*.properties
*.externalNativeBuild
.externalNativeBuild
